@page "/administratif"

<MudContainer Style="height: 100vh; display: flex; align-items: center; justify-content: center;">
    <MudCard>
        <MudCardContent>
            <MudGrid Justify="Justify.Center">
                <MudItem xs="12">
                    <MudText Typo="Typo.h4" Align="Align.Center">
                        Inscription au permis
                    </MudText>
                    <MudText Align="Align.Center">
                        Sur cette page, vous allez pouvoir vous inscrire sur le permis avec une réduction de 500€ si vous êtes en alternance avec un contrat d'apprentissage.
                    </MudText>
                    <div style="text-align: center; margin-top: 16px;">
                        <a href="https://ants.gouv.fr" target="_blank" rel="noopener noreferrer">
                            <MudButton Color="Color.Primary" Variant="Variant.Filled">
                                Inscription ANTS
                            </MudButton>
                        </a>
                    </div>
                </MudItem>

                <MudItem xs="12" Style="margin-top: 32px;">
                    <MudText Align="Align.Center">
                        Ici, vous pourrez faire toutes les démarches afin de bénéficier d'aides publiques pour des questions de logements, etc.
                    </MudText>
                    <div style="text-align: center; margin-top: 16px;">
                        <a href="https://www.caf.fr" target="_blank" rel="noopener noreferrer">
                            <MudButton Color="Color.Primary" Variant="Variant.Filled">
                                Aide CAF
                            </MudButton>
                        </a>
                    </div>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
</MudContainer>